<?xml version="1.0"?>

<xacro:macro name="red" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <visual>
    <material>
      <ambient>0.7137254 0.3254902 0.352941 1</ambient>
      <diffuse>0.7137254 0.3254902 0.352941 1</diffuse>
      <specular>0.1 0.1 0.1 1</specular>
      <emissive>0 0 0 0</emissive>
    </material>
  </visual>
</xacro:macro>
