<?xml version="1.0"?>
<launch>

  <!-- SCORABLE OBJECT -->

  <arg name="namespace" default="object" />
  <arg name="delay" default="3"/>
  <arg name="color" default=".5\ .5\ .5\ 1"/>

  <arg name="x" default="0"/>
  <arg name="y" default="0"/>
  <arg name="z" default="0.15"/>
  <arg name="roll" default="0"/>
  <arg name="pitch" default="0"/>
  <arg name="yaw" default="0"/>

  <arg name="range" default="0.01"/>

  <param name="cube_description" command="$(find xacro)/xacro $(find al5d_description)/sdf/cube.xacro color:=$(arg color)" />

  <node name="spawn_cube" pkg="gazebo_ros" type="spawn_model" args=" -param cube_description  -sdf -model wood_cube_2_5cm -model cube_$(arg namespace)
  -x $(arg x) -y $(arg y) -z $(arg z)
  -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)
  -robot_namespace $(arg namespace)
  " launch-prefix="bash -c 'sleep $(arg delay); $0 $@' "/>

</launch>
