<?xml version="1.0"?>
<launch>

  <include file="$(find al5d_gazebo)/launch/single.launch" ns="red">
    <arg name="namespace" value="red" /> <!-- needed for Gazebo -->
    <arg name="color" value="0.5725\ 0.0667\ 0.109\ 1" />
    <!-- <arg name="color" value="$(find xacro)/xacro $(find al5d_description)/urdf/red.xacro" />  -->
    <arg name="x" value="-.2"/>
    <arg name="y" value="-.2"/>
    <arg name="z" value="0"/>
    <arg name="roll" value="0"/>
    <arg name="pitch" value="0"/>
    <arg name="yaw" value="0"/>
  </include>

  <include file="$(find al5d_gazebo)/launch/single.launch" ns="blue">
    <arg name="namespace" value="blue" /> <!-- needed for Gazebo -->
    <arg name="color" value="0.1137\ 0.2078\ 0.3412\ 1" />
    <!-- <arg name="color" value="$(find xacro)/xacro $(find al5d_description)/urdf/blue.xacro" /> -->
    <!-- needed for Gazebo -->
    <arg name="x" value=".2"/>
    <arg name="y" value=".2"/>
    <arg name="z" value="0"/>
    <arg name="roll" value="0"/>
    <arg name="pitch" value="0"/>
    <arg name="yaw" value="3.141592"/>
  </include>

  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find al5d_gazebo)/worlds/final.world"/>
    <!-- more default parameters can be changed here -->
  </include>


</launch>
