<?xml version="1.0"?>
<launch>

  <!-- BASIC ENVIRONMENT -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find al5d_gazebo)/worlds/final.world"/>
  </include>

  <!-- MOVING TURNTABLE -->
  <include file="$(find al5d_gazebo)/launch/turntable.launch" ns="turntable" />

  <!-- SCORABLE OBJECTS -->
  <include file="$(find al5d_gazebo)/launch/objects.launch" ns="objects" />

  <!-- RED TEAM -->
  <include file="$(find al5d_gazebo)/launch/single.launch" ns="red">
    <arg name="namespace" value="red" /> <!-- needed for Gazebo -->
    <arg name="color" value="0.5725\ 0.0667\ 0.109\ 1" />
    <arg name="x" value="-.2"/>
    <arg name="y" value="-.2"/>
    <arg name="z" value="0"/>
    <arg name="roll" value="0"/>
    <arg name="pitch" value="0"/>
    <arg name="yaw" value="0"/>
  </include>

  <!-- BLUE TEAM -->
  <include file="$(find al5d_gazebo)/launch/single.launch" ns="blue">
    <arg name="namespace" value="blue" /> <!-- needed for Gazebo -->
    <arg name="color" value="0.1137\ 0.2078\ 0.3412\ 1" />
    <arg name="x" value=".2"/>
    <arg name="y" value=".2"/>
    <arg name="z" value="0"/>
    <arg name="roll" value="0"/>
    <arg name="pitch" value="0"/>
    <arg name="yaw" value="3.141592"/>
  </include>

</launch>
