<?xml version="1.0"?>
<launch>

  <!-- This launch file is used to actually start the match, after
    final.launch sets up the environment. -->

  <!-- Argument to be filled with the team number of the appropriate team.
    e.g. roslaunch al5d_gazebo referee red:=1 blue:=2
    The "MATLAB" and "Python" are default values because the TA test scripts
    are in folders named TeamMATLAB and TeamPython for the test version for
    each language, while student code is in Team1, Team2, ... , Team20 -->
  <arg name="red" default="MATLAB" /> %
  <arg name="blue" default="Python" />

  <!-- Launch each team's code, using a bash script that locates the folder
    on the mounted Google Drive that contains the right code, and then launches
   it in the right language according to file extension -->

   <!-- TODO: IMPLEMENT THIS!  -->

  <!-- The referee starts the game clock, displays it on the console, and waits
        60 simulation seconds before pausing the simulation and scoring the
        game based on its end state. -->
  <node name="referee" pkg="al5d_gazebo" type="referee.py" output="screen"/>

</launch>
